In [20]:
# import packages

import pandas_datareader.data as web
import datetime
import pandas as pd

In [11]:
# set up the parameters

start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2016, 1, 1)

investment_initial = 1000000

tickers_string = "AAPL,AMZN,MSFT,GOOG"   # a string; as an example, tickers separated by comma.
tickers_list = tickers_string.split(",")  # split the string by the commas into a list of strings
tickers_num = len(tickers_list)

weight_string = "0.25,0.25,0.25,0.25"
weight_list = map(float, weight_string.split(","))  
# split the string by the commas, and map each string in the resulting list into a float

VaR_prob = 0.01
ES_prob = 0.01
name1 = 1 # Using x years historical data for estimation
name2 = 5 # x days VaR/ES

In [28]:
d={}
for ticker in tickers_list:
    d["{0}".format(ticker)] = web.DataReader(ticker, 'yahoo', start, end)['Adj Close'].rename(ticker)
df = pd.DataFrame(d)       
# create a pandas dataframe where each column is the Adjusted Close price for the respective ticker

In [29]:
df.head()   # print the top 5 rows of the dataframe

                 AAPL        AMZN        GOOG       MSFT
Date
2010-01-04  27.847252  133.899994  313.062468  25.710416
2010-01-05  27.895396  134.690002  311.683844  25.718722
2010-01-06  27.451683  132.250000  303.826685  25.560888
2010-01-07  27.400936  130.000000  296.753749  25.295062
2010-01-08  27.583106  133.520004  300.709808  25.469510

In [30]:
df.tail()   # print the last 5 rows of the dataframe

                  AAPL        AMZN        GOOG       MSFT
Date
2015-12-24  105.678733  662.789978  748.400024  54.183200
2015-12-28  104.495069  675.200012  762.510010  54.455724
2015-12-29  106.373279  693.969971  776.599976  55.039699
2015-12-30  104.984187  689.070007  771.000000  54.806110
2015-12-31  102.969025  675.890015  758.880005  53.998276

In [31]:
df['AAPL']  # to access a column by its name.

Date
2010-01-04     27.847252
2010-01-05     27.895396
2010-01-06     27.451683
2010-01-07     27.400936
2010-01-08     27.583106
2010-01-11     27.339779
2010-01-12     27.028789
2010-01-13     27.410045
2010-01-14     27.251297
2010-01-15     26.795872
2010-01-19     27.981276
2010-01-20     27.550575
2010-01-21     27.074331
2010-01-22     25.731480
2010-01-25     26.423726
2010-01-26     26.797173
2010-01-27     27.049609
2010-01-28     25.931866
2010-01-29     24.991091
2010-02-01     25.338514
2010-02-02     25.485551
2010-02-03     25.924059
2010-02-04     24.989789
2010-02-05     25.433503
2010-02-08     25.259140
2010-02-09     25.528492
2010-02-10     25.389262
2010-02-11     25.851191
2010-02-12     26.073698
2010-02-16     26.466665
                 ...
2015-11-18    114.737192
2015-11-19    116.194760
2015-11-20    116.703446
2015-11-23    115.187179
2015-11-24    116.292582
2015-11-25    115.461084
2015-11-27    115.245871
2015-11-30    115.725211
2015-12-01    114.786099
2015-12-02    113.749172
2015-12-03    112.692677
2015-12-04    116.439319
2015-12-07    115.705642
2015-12-08    115.656735
2015-12-09    113.103541
2015-12-10    113.641566
2015-12-11    110.716645
2015-12-14    110.031884
2015-12-15    108.085190
2015-12-16    108.916689
2015-12-17    106.608061
2015-12-18    103.722263
2015-12-21    104.993971
2015-12-22    104.896149
2015-12-23    106.246111
2015-12-24    105.678733
2015-12-28    104.495069
2015-12-29    106.373279
2015-12-30    104.984187
2015-12-31    102.969025
Name: AAPL, dtype: float64